accelerate==0.21.0
aiohttp==3.9.1
aiosignal==1.3.1
aiostream==0.5.2
alembic==1.13.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
appnope==0.1.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bitsandbytes==0.41.0
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cohere==4.40
comm==0.2.0
confection==0.1.4
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.5.14
datasets==2.16.1
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.7
diskcache==5.6.3
distro==1.9.0
dnspython==2.4.2
docarray==0.32.1
docker-pycreds==0.4.0
einops==0.6.1
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
faiss-cpu==1.7.4
Faker==22.0.0
fastavro==1.9.2
fastjsonschema==2.19.1
favicon==0.7.0
filelock==3.13.1
fonttools==4.47.0
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.3
h11==0.14.0
hnswlib==0.8.0
htbuilder==0.6.2
html2text==2020.1.16
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.1
humanize==4.9.0
idna==3.6
importlib-metadata==6.11.0
ipykernel==6.28.0
ipython==8.19.0
ipywidgets==8.1.1
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.6.1
jupyterlab-widgets==3.0.9
kaggle==1.6.0
kiwisolver==1.4.5
langchain==0.0.354
langchain-community==0.0.8
langchain-core==0.1.6
langchain-experimental==0.0.47
langcodes==3.3.0
langsmith==0.0.77
llama-hub==0.0.69
llama-index==0.9.29
llama_cpp_python==0.2.26
loguru==0.7.2
lxml==5.0.0
Mako==1.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
merkle-json==1.0.0
millify==0.1.1
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numexpr==2.8.8
openai==1.5.0
openapi-schema-pydantic==1.2.4
orjson==3.9.10
packaging==23.2
pandas==2.1.4
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
pinecone-client==2.2.2
platformdirs==4.1.0
plotly==5.18.0
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==4.25.1
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==23.12.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pydantic==2.6.2
pydantic_core==2.16.3
pydeck==0.8.1b0
Pygments==2.17.2
pymdown-extensions==10.7
pyparsing==3.1.1
pypdf==3.17.4
pyre-extensions==0.0.29
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-slugify==8.0.1
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.32.0
regex==2023.12.25
requests==2.31.0
retrying==1.3.4
rich==13.7.0
rpds-py==0.16.2
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.39.2
setproctitle==1.3.3
six==1.16.0
slack-bolt==1.18.1
slack-sdk==3.26.1
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.24
srsly==2.4.8
st-annotated-text==4.0.1
stack-data==0.6.3
streamlit==1.29.0
streamlit-aggrid==0.3.4.post3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-javascript==0.1.5
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy==1.12
tenacity==8.2.3
text-unidecode==1.3
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
transformers==4.36.2
trulens-eval==0.19.2
typer==0.9.0
types-requests==2.31.0.20231231
typing-inspect==0.8.0
typing-extensions==4.6.3
tzdata==2023.4
tzlocal==5.2
urllib3==2.1.0
validators==0.22.0
wandb==0.16.2
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.4
webencodings==0.5.1
widgetsnbextension==4.0.9
wrapt==1.16.0
xformers==0.0.20
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
numpy
